body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding-top: 15px;
    background-color: #B2D3EF;
}

button {
    border-radius: 1em;
    font-family: Arial, sans-serif;
}

button:hover, .menu ul li a:hover {
    background-color: #206196;
    color: #B2D3EF;
}

.errors {
    color: red;
}

.menu {
    margin-bottom: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li, #logout {
    background-color: #206196;
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    width: 8em;
    flex-wrap: wrap;
    flex-grow: 1;
    border-radius: 1em;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

#logout {
    border: 2px solid #206196;
}

.menu ul li a {
    color: black;
    text-decoration: none;
}

.contents {
    margin: 4em;
}

table {
    border-spacing: 0;
}

th, td {
    border-top: 1px solid #AAAAAA;
    padding: 5px 10px;
}

th {
    font-weight: bold;
}
