<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registreerimine</title>
    </head>

    <body>
        <?php
            if (!empty($errors)):
	           foreach($errors as $e):
		             echo "$e <br/>";
	            endforeach;
            endif;
        ?>

        <div class="menyy">
            <ul>
                <li>
                    <a href="<?= $_SERVER['PHP_SELF'];?>?view=log">Sisselogimine</a>
                </li>
                <li>
                    <a href="<?= $_SERVER['PHP_SELF'];?>?view=reg">Registreerimine</a>
                </li>
            </ul>
        </div>
