<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registreerimine</title>
    </head>

    <body>
        <?php
            if (!empty($errors['view'])):
	           foreach($errors as $e):
		             echo "$e <br/>";
	            endforeach;
            endif;
        ?>

        <div class="menu">
            <ul>
                <?php if (empty($_SESSION['login'])):?>
                <li>
                    <a href="<?= $_SERVER['PHP_SELF'];?>?view=log">Sisselogimine</a>
                </li>
                <li>
                    <a href="<?= $_SERVER['PHP_SELF'];?>?view=reg">Registreerimine</a>
                </li>
                <?php endif; ?>

                <?php if (!empty($_SESSION['login'])):?>
                <li>
                    <a href="<?= $_SERVER['PHP_SELF'];?>?view=new">Uus ost</a>
                </li>
                <li>
                    <a href="<?= $_SERVER['PHP_SELF'];?>?view=query">Päringud</a>
                </li>
                <?php endif; ?>
            </ul>
        </div>

        <?php if (!empty($_SESSION['login'])):?>
        <form method="POST" action="<?= $_SERVER['PHP_SELF']; ?>">
            <input type="hidden" name="action" value="logout">
            <button type="submit">Logi välja</button>
        </form>
        <?php endif; ?>
