<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registreerimine</title>
    </head>

    <body>
        <form method="POST" action="vorm.php">
            <table>
                <tr>
                    <th>Kasutajanimi</th>
                    <td><input type="text" name="kasutajanimi" placeholder="Kasutajanimi"></td>
                </tr>
                <tr>
                    <th>Parool</th>
                    <td><input type="password" name="parool" placeholder="Parool"></td>
                </tr>
                <tr>
                    <th>Korda parooli</th>
                    <td><input type="password" name="parool2" placeholder="Parool"></td>
                </tr>
                <tr colspan="2">
                    <td><button type="submit">Registreeri</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
