<?php
    if (!empty($errors['valjad_taitmata'])):
       foreach($errors as $e):
             echo "$e <br/>";
        endforeach;
    endif;
?>

<form id="ostulisamine" method="POST" action="<?= $_SERVER['PHP_SELF']; ?>">
    <input type="hidden" name="action" value="ost">
    <table id="ostupais">
        <tr>
            <th><label for="ostja">Ostja</label></th>
            <th><label for="pood">Pood</label></th>
            <th><label for="kuupaev">Kuupäev</label></th>
            <th><label for="ostusumma">Ostu summa kokku</label></th>
        </tr>
        <tr>
            <td><input type="text" id="ostja" name="ostja" placeholder="Ostja"></td>
            <td><input type="text" id="pood" name="pood" placeholder="Pood"></td>
            <td><input type="date" id="kuupaev" name="kuupaev"></td>
            <td><div id="ostusumma" name="ostusumma[]"></div></td>
            <td rowspan="2"><button type="submit">Salvesta ost</button></td>
        </tr>
    </table>

    <hr>

    <table id="ostukorv">
        <thead>
            <tr id="pealkiri">
                <th>Kaup</th>
                <th>Kategooria</th>
                <th>Kogus</th>
                <th>Hind</th>
                <th>Summa</th>
            </tr>
        </thead>

        <tbody>
            <tr id="osturida[0]">
                <td><input type="text" id="kaup[0]" name="kaup[0]" onclick="uusRida()"></td>
                <td><input type="text" id="kategooria[0]" name="kategooria[0]"></td>
                <td><input type="number" step="0.001" id="kogus[0]" name="kogus[0]" oninput="reaSumma()"></td>
                <td><input type="number" step="0.01" id="hind[0]" name="hind[0]" oninput="reaSumma()"></td>
                <td><div id="summa[0]" name="summa[0]"></div></td>
            </tr>
        </tbody>

    </table>

</form>

<script src="script/ost.js"></script>
