<div class="contents">

    <p>
        <?php if(isset($_SESSION["message"])) {
            print_r($_SESSION["message"]);
            unset($_SESSION["message"]);
        } ?>
    </p>

    Sinu sisestatud on järgmised ostud:
    <table>
        <thead>
            <tr>
                <td>Ostja</td>
                <td>Kuupäev</td>
                <td>Summa</td>
            </tr>
        </thead>
        <tbody>
            <?php
            $q = model_purchase_header_get(c_user_logged());
            if(!$q) {
                echo "Pole veel ühtegi ostu.";
            } else {
                foreach($q as $row): ?>
                    <tr>
                        <td> <?= htmlspecialchars($row['buyer']); ?> </td>
                        <td> <?= htmlspecialchars($row['purchase_date']); ?> </td>
                        <td> <?= htmlspecialchars($row['amount']); ?> </td>
                    </tr>

                <?php endforeach; ?>
            <?php } ?>

        </tbody>
    </table>

</div>
