<?php
    if (!empty($errors['valjad_taitmata']) || !empty($errors['probleem_kasutajanimega'])):
       foreach($errors as $e):
             echo "$e <br/>";
        endforeach;
    endif;
?>

<form method="POST" action="<?= $_SERVER['PHP_SELF']; ?>">
    <input type="hidden" name="action" value="reg">
    <table>
        <tr>
            <th><label for="eesnimi">Eesnimi</label></th>
            <td><input type="text" id="eesnimi" name="eesnimi" placeholder="Eesnimi" required></td>
        </tr>
        <tr>
            <th><label for="perekonnanimi">Perekonnanimi</label></th>
            <td><input type="text" id="perekonnanimi" name="perekonnanimi" placeholder="Perekonnanimi" required></td>
        </tr>
        <tr>
            <th><label for="kasutajanimi">Kasutajanimi</label></th>
            <td><input type="text" id="kasutajanimi" name="kasutajanimi" placeholder="Kasutajanimi" required></td>
        </tr>
        <tr>
            <th><label for="parool">Parool</label></th>
            <td><input type="password" id="parool" name="parool" placeholder="Parool" required></td>
        </tr>
        <tr>
            <th><label for="parool2">Korda parooli</label></th>
            <td><input type="password" id="parool2" name="parool2" placeholder="Parool" required></td>
        </tr>
        <tr colspan="2">
            <td><button type="submit">Registreeri</button></td>
        </tr>
    </table>
</form>
