<?php
    if (!empty($errors)):
       foreach($errors as $e):
             echo "$e <br/>";
        endforeach;
    endif;
?>

<form method="POST" action="<?= $_SERVER['PHP_SELF']; ?>">
    <input type="hidden" name="action" value="reg">
    <table>
        <tr>
            <th><label for="firstname">Eesnimi</label></th>
            <td><input type="text" id="firstname" name="firstname" placeholder="Eesnimi" required></td>
        </tr>
        <tr>
            <th><label for="lastname">Perekonnanimi</label></th>
            <td><input type="text" id="lastname" name="lastname" placeholder="Perekonnanimi" required></td>
        </tr>
        <tr>
            <th><label for="username">Kasutajanimi</label></th>
            <td><input type="text" id="username" name="username" placeholder="Kasutajanimi" required></td>
        </tr>
        <tr>
            <th><label for="password">Parool</label></th>
            <td><input type="password" id="password" name="password" placeholder="Parool" required></td>
        </tr>
        <tr>
            <th><label for="password2">Korda parooli</label></th>
            <td><input type="password" id="password2" name="password2" placeholder="Parool" required></td>
        </tr>
        <tr colspan="2">
            <td><button type="submit">Registreeri</button></td>
        </tr>
    </table>
</form>
